<!DOCTYPE html>
{% extends "layout.html" %}
{% block content %}

<button onclick="window.location.href='/mainpage'"> Return to the main page </button>
<button onclick="window.location.href='/logout'"> Log out </button>
<BR><BR>

    <h2>Add a new recipe</h2>
<body>

<form action="/add_new_recipe" method="post" onsubmit="return check(this)">

    Recipe name: <input type="text" name="title"> <BR><BR>
    <b>Type: </b><br>
    <input type="radio" name="type" value="delicacy"> delicacy<BR>
    <input type="radio" name="type" value="gluten free"> gluten free<BR>
    <input type="radio" name="type" Value="healthy"> healthy<BR>   
    <input type="radio" name="type" value="power food"> power food<BR>
    <input type="radio" name="type" value="vegan"> vegan<BR><BR>
    
    <b>Liquid base: </b><br>
    <input type="radio" name="base_liquid" value="almond milk"> almond milk<BR>
    <input type="radio" name="base_liquid" value="apple juice"> apple juice<BR>
    <input type="radio" name="base_liquid" value="low fat milk"> low fat milk<BR>
    <input type="radio" name="base_liquid" value="oat milk"> oat milk<BR>
    <input type="radio" name="base_liquid" value="soy milk"> soy milk<BR><BR>
    
    <b>Ingredient 1:</b><br>
    <input type="radio" name="ingredient_1" value="apple sauce"> apple sauce<BR>
    <input type="radio" name="ingredient_1" value="avocado"> avocado<BR>
    <input type="radio" name="ingredient_1" value="banana"> banana<BR>
    <input type="radio" name="ingredient_1" value="blueberry"> blueberry<BR>
    <input type="radio" name="ingredient_1" value="kiwi"> kiwi<BR>
    <input type="radio" name="ingredient_1" value="spinach"> spinach<BR>
    <input type="radio" name="ingredient_1" value="strawberries"> strawberries<BR><BR>
    
    <b>Ingredient 2:</b><br>
    <input type="radio" name="ingredient_2" value="apple sauce"> apple sauce<BR>
    <input type="radio" name="ingredient_2" value="avocado"> avocado<BR>
    <input type="radio" name="ingredient_2" value="banana"> banana<BR>
    <input type="radio" name="ingredient_2" value="blueberry"> blueberry<BR>
    <input type="radio" name="ingredient_2" value="kiwi"> kiwi<BR>
    <input type="radio" name="ingredient_2" value="spinach"> spinach<BR>
    <input type="radio" name="ingredient_2" value="strawberries"> strawberries<BR><BR>
    
    <b>Grain:</b><br>
    <input type="radio" name="grain" value="gluten free oatmeal grains"> gluten free oatmeal grains<BR>
    <input type="radio" name="grain" value="instant oatmeal grain"> instant oatmeal grain<BR>
    <input type="radio" name="grain" value="oatmeal fiber+"> oatmeal fiber+<BR>
    <input type="radio" name="grain" value="steel-cut oatmeal grain"> steel-cut oatmeal grain<BR><BR>
    
    <b>Protein: </b><br>
    <input type="radio" name="protein" value="cashew nuts"> cashew nuts<BR>
    <input type="radio" name="protein" value="chocolate protein powder"> chocolate protein powder<BR>
    <input type="radio" name="protein" value="peanut butter"> peanut butter<BR>
    <input type="radio" name="protein" value="tofu"> tofu<BR>
    <input type="radio" name="protein" value="vanilla protein powder"> vanilla protein powder<BR><BR>
    
    <b>Sweetener: </b><br>
    <input type="radio" name="sweetener" value="artificial sweetener"> artificial sweetener<BR>
    <input type="radio" name="sweetener" value="brown sugar"> brown sugar<BR>
    <input type="radio" name="sweetener" value="honey"> honey<BR>
    <input type="radio" name="sweetener" value="maple syrup"> maple syrup<BR><BR>
    
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">

    <BR><input type="submit" value="Save to the database">
</form>

<script>
    function check(form) {
        if (form.title.value.length > 40) {
            alert("Error: too long title! Maximum length is 40 characters. Tip: include only  main ingredient names in the title.");
            return false;
        }
        if (form.title.value.length < 4) {
            alert("Error: too short title! Minimum length is 40 characters. Idea: include main ingredient names in the title.");
            return false;
        }
        if(form.type.value == "") {
            alert("Please choose a type for this recipe.");
            return false;
        }
        if(form.base_liquid.value == "") {
            alert("Please choose the liquid base for this recipe.");
            return false;
        }
        if(form.ingredient_1.value == "") {
            alert("Please choose the ingredient 1 for this recipe.");
            return false;
        }
        if(form.ingredient_2.value == "") {
            alert("Please choose the ingredient 2 for this recipe.");
            return false;
        }
        if(form.grain.value == "") {
            alert("Please choose the grain for this recipe.");
            return false;
        }
        if(form.protein.value == "") {
            alert("Please choose the protein for this recipe.");
            return false;
        }
        if(form.sweetener.value == "") {
            alert("Please choose the sweetener for this recipe.");
            return false;
        }
        return true;
    }
</script>

{% endblock %}
</body>