<!DOCTYPE html>
{% extends "layout.html" %}
{% block content %}

<button onclick="window.location.href='/mainpage'"> Return to the main page </button>
<button onclick="window.location.href='/logout'"> Log out </button>
<BR><BR>

<h2>All recipes in the database</h2>
<i>Recipe count: {{ count }} </i>
    
<BR>
{% for recipe in all_recipes %}
<hr>
<h3>{{ recipe[1] }}</h3>
<i>Type: {{ recipe[2] }}</i><BR><BR>
<b>Ingredients</b>:<BR>
1 dl {{ recipe[4] }}<BR>
1 dl {{ recipe[5] }}<BR>
0,25 - 0,5 dl {{ recipe[6] }}<BR>
0,5 - 1 dl {{ recipe[7] }}<BR>
0,5 - 1 dl {{ recipe[8] }}<BR>
0,5 - 1 tbs {{ recipe[9] }}<BR><BR><BR>

Peel and chop/grate fruits/vegetables.<BR><BR>
Add all ingredients to the bowl and mix well. <BR><BR>
Cover the bowl with a lid and keep in a refridgerator 1-2 hours or over night.<BR><BR>
</hr>

<BR>
{% endfor %}

{% endblock %}